@using System.Security.Claims

@{
    var redirect = @Url.RouteUrl(ViewContext.RouteData.Values)?.ToLowerInvariant();

    string AddActiveClass(string url)
    {
        if(url == "/")
            return redirect == url ? "text-primary active" : "text-secondary";
        return redirect.StartsWith(url) ? "text-primary active" : "text-secondary";
    }
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SHC</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/img/logo-small.png" rel="shortcut icon" type="image/png"/>
    <script src="/js/theme-selector.js"></script>
</head>
<body>
<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-primary text-decoration-none">
                <img class="bi me-2" width="32" height="32" src="/img/logo-small.png" alt="Logo" />
            </a>
      
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 @AddActiveClass("/")">Home</a></li>
                <li><a href="/challenges" class="nav-link px-2 @AddActiveClass("/challenge")">Challenges</a></li>
                <li><a href="/scoreboard" class="nav-link px-2 @AddActiveClass("/scoreboard")" >Scoreboard</a></li>
                <li><a href="/rules" class="nav-link px-2 @AddActiveClass("/rules")">Rules</a></li>
            </ul>
        
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div class="dropdown text-end">
                    <a href="/profile" class="d-block text-decoration-none link-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        @{
                            var id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                            var avatar = User.FindFirst("urn:discord:avatar")?.Value;
                            var avatarUrl = $"https://cdn.discordapp.com/avatars/{id}/{avatar}.png?size=32";
                        }
                        <img src="@avatarUrl" alt="Avatar" width="32" height="32">
                        &nbsp;
                        @User.Identity?.Name
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/account/logout?redirect=@redirect">Logout</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="text-end">
                    <a href="/account/login?redirect=@redirect" class="btn btn-primary">Login with <i class="bi bi-discord"></i></a>
                </div>
            }
            <div class="dropdown text-end ms-3">
                <a class="d-block text-decoration-none dropdown-toggle link-secondary theme-icon-active" style="height: 28px;" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-circle-half"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                            <i class="bi bi-sun-fill"></i>
                            &nbsp;
                            Light
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                            <i class="bi bi-moon-stars-fill"></i>
                            &nbsp;
                            Dark
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                            <i class="bi bi-circle-half"></i>
                            &nbsp;
                            Auto
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-12 d-flex align-items-center">
            <span class="mb-12 mb-md-0 text-muted">© @DateTime.Now.Year Swiss Hacking Challenge</span>
        </div>
    </footer>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>