@page

@model Berg.Pages.Challenges

@{ ViewData["Title"] = "Challenges"; }

<h3 class="mb-5">Challenges</h3>

@foreach (var pair in Model.ChallengesByCategory.OrderBy(p => p.Key))
{
    <div class="row">
        <h4>@pair.Key</h4>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-gap-2 mb-3">
        @foreach (var challenge in pair.Value.OrderBy(c => Model.ScoredChallenges[c.Id].Value))
        {
            var scoredChallenge = Model.ScoredChallenges[challenge.Id];
            var solveWord = scoredChallenge.Solves.Count == 1 ? "solve" : "solves";
         
            <div class="col">
                <div class="d-grid gap-2">
                    @if (scoredChallenge.Solves.Any(s => s.DiscordId == Model.Player?.DiscordId))
                    {
                        <a href="/challenge?challengeId=@challenge.Id" class="btn btn-success">
                            <i class="bi bi-check"></i> @challenge.Name (@scoredChallenge.Value)
                            <br/>
                            @scoredChallenge.Solves.Count @solveWord
                        </a>
                    }
                    else
                    {
                        <a href="/challenge?challengeId=@challenge.Id" class="btn btn-secondary">
                            @challenge.Name (@scoredChallenge.Value)
                            <br/>
                            @scoredChallenge.Solves.Count @solveWord
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}
