@page
@using Berg.Configuration
@model Berg.Pages.Sponsoring

@{
    ViewData["Title"] = "Sponsors";
}

<h3 class="mb-3">Sponsors</h3>

@{
    void RenderSponsors(List<SponsorInfo> sponsors)
    {
        foreach (var sponsor in sponsors)
        {
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-3 rounded-start bg-@sponsor.Background">
                                <img src="@sponsor.Logo" class="d-block mx-auto p-5 logo-@sponsor.Tier.ToString().ToLowerInvariant()" alt="@sponsor.Name Logo">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">@sponsor.Name</h5>
                                    <p class="card-text">@sponsor.Description</p>
                                    <p class="card-text"><a href="@sponsor.Website" target="_blank">Go to website</a></p>
                                </div>
                            </div>
                        </div>
                       </div>
                </div>
            </div>
        }
    }
    
    @if (Model.Partners.Any())
    {
        <h4 class="mb-3">Partners</h4>
        RenderSponsors(Model.Partners);
    }
    
    @if (Model.GoldSponsors.Any())
    {
        <h4 class="mb-3">Gold Sponsors</h4>
        RenderSponsors(Model.GoldSponsors);
    }

    @if (Model.SilverSponsors.Any())
    {
        <h4 class="mb-3">Silver Sponsors</h4>
        RenderSponsors(Model.SilverSponsors);
    }

    @if (Model.BronzeSponsors.Any())
    {
        <h4 class="mb-3">Bronze Sponsors</h4>
        RenderSponsors(Model.BronzeSponsors);
    }

    @if (Model.PatronSponsors.Any())
    {
        <h4 class="mb-3">Patron Sponsors</h4>
        RenderSponsors(Model.PatronSponsors);
    }

    <h4 class="mb-3">Want your logo and text here?</h4>
    
    <p><a href="mailto:shc@swisscyberstorm.com">Contact us</a> if you want to become a sponsor!</p> 
}
